$text-color: #4d4d4d;
$main-dark: #7a0000;
$main: #bf121d;
$main-light: #d84b54;
$ternary: #fdefd3;
$bg-color: #fafafa;
$bg-alt: #efebeb;
$accent-dark: #002e47;
$accent: #679bbc;
$error-color: #ff4d59;

$bouncy: cubic-bezier(0.53, 0.72, 0.23, 1.19);

html,
body {
  padding: 0;
  margin: 0;
  background-color: $accent-dark;
}

* {
  font-family: "poppins", Calibri, sans-serif;
  color: $text-color;
}

section {
  padding: 16px 64px 48px;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.appContainer {
  background-color: $bg-color;

  .search {
    background: $accent-dark;
  }

  .searchContainer {
    display: flex;
    flex-direction: column;
    h1 {
      color: $bg-color;
      font-size: 32px;
    }
    label {
      color: $bg-color;
      display: block;
    }
    small {
      margin-top: 8px;
      color: $error-color;
    }
  }

  .inputContainer {
    display: flex;
    gap: 16px;

    input {
      width: -webkit-fill-available;
      width: stretch;
      border-radius: 4px;
      padding: 8px;
      outline: 1px solid transparent;
      border: 1px solid transparent;
      &:focus {
        border: 1px solid $accent;
        outline: 1px solid $accent;
      }
    }
    button {
      display: flex;
      align-items: center;
      gap: 8px;
      background-color: $main;
      padding: 10px 24px 10px 20px;
      color: $bg-color;
      border: none;
      border-radius: 4px;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.1s ease-in;
      &:hover {
        background-color: $main-dark;
      }
      img {
        width: 20px;
      }
    }
  }
  @media screen and (max-width: 540px) {
    .inputContainer {
      flex-direction: column;

      button {
        width: fit-content;
      }
    }
  }
}

.listOfMoviesContainer {
  background-color: $bg-alt;
}
.listOfMovies {
  padding: 32px 0 48px;
  display: flex;
  flex-wrap: wrap;
  gap: 64px;
}
.moviePlaceholder {
  width: 400px;
  margin: 60px auto;
  transition: all 0.2s ease-in;
}

.movieShow {
  background: $bg-color;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(44, 54, 109, 0.2);
  width: 252px;
  height: fit-content;

  .info-flex {
    display: flex;
    gap: 32px;
    img {
      margin-top: 8px;
      max-width: 24px;
    }
  }
  .posterContainer {
    position: relative;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    &:hover {
      .close {
        transform: translateX(-4px);
        background-color: $main;
        box-shadow: -2px 4px 8px -2px rgba(110, 5, 5, 0.42);
      }
    }
    img {
      width: 100%;
    }
    .actions {
      position: absolute;
      width: 58px;
      height: 54px;
      border-radius: 6px 0 0 6px;
      background-color: rgba(255, 255, 255, 0.32);
      box-shadow: -1px 2px 4px -2px rgba(30, 30, 30, 0.42);
      right: -8px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transform: translateX(36px);
      transition: width 0.2s $bouncy, transform 0.4s $bouncy,
        opacity 0.05s ease-in, background-color 0.2s ease-in,
        box-shadow 0.2s ease-in;
      .bin {
        height: 20px;
        width: auto;
      }
    }
    .close {
      top: 48px;
      &:hover {
        background-color: $main-dark;
      }
    }
  }
  .caption {
    padding: 0 12px 8px;
    position: relative;
    small {
      font-weight: 700;
      color: $accent-dark;
    }
    h3 {
      margin: 8px 0 4px;
      font-size: 20px;
    }
    p {
      margin: 0px auto 8px;
      font-size: 14px;
      font-weight: 500;
      &.rating {
        position: absolute;
        top: -42px;
        right: -26px;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        text-align: center;
        line-height: 2.2;
        color: $bg-color;
        font-size: 26px;
        font-weight: 700;
        box-shadow: -2px 2px 8px -4px rgba(53, 54, 54, 0.2);
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .movieShow {
    width: 100%;
  }
  .moviePlaceholder {
    width: 100%;
    margin: 0 auto;
  }
}
