$text-color: #4d4d4d;
$text-color-light: #777777;
$main-dark: #7a0000;
$main: #bf121d;
$main-light: #d84b54;
$ternary: #fdefd3;
$white: #ffffff;
$bg-color: #fafafa;
$bg-alt: #efebeb;
$accent-dark: #002e47;
$accent: #679bbc;
$error-color: #ff4d59;

$bouncy: cubic-bezier(0.53, 0.72, 0.23, 1.19);
$extraBouncy: cubic-bezier(0, 0.62, 0.13, 1.82);

html,
body {
  padding: 0;
  margin: 0;
  background-color: $accent-dark;
}

* {
  font-family: "poppins", Calibri, sans-serif;
  color: $text-color;
}

section {
  padding: 16px 64px 48px;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.appContainer {
  background-color: $bg-color;

  .search {
    background: $accent-dark;
  }

  .searchContainer {
    display: flex;
    flex-direction: column;
    h1 {
      color: $bg-color;
      font-size: 32px;
    }

    small {
      margin-top: 8px;
      color: $error-color;
    }
  }

  .inputContainer {
    display: flex;
    gap: 16px;
    position: relative;
    .inputDropdownWrapper {
      width: 100%;
      .inputImageWrapper {
        position: relative;
        border-radius: 8px;
        overflow: hidden;
        .searchIconWrapper {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          width: 64px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          img {
            filter: saturate(0);
            -webkit-filter: saturate(0);
            transition: all 0.3s $bouncy;
            transform: scale(1);
          }
          &:hover img {
            transform: scale(1.1);
            filter: saturate(1);
            -webkit-filter: saturate(1);
          }
        }
        input {
          width: -webkit-fill-available;
          width: stretch;
          padding: 12px 16px;
          outline: 1px solid transparent;
          border: 1px solid transparent;
          font-size: 16px;
          font-weight: 400;
          &:focus {
            border: 0.5px solid $text-color-light;
            outline: 0.5px solid $text-color-light;
          }
        }
      }

      .MoviesDropdown {
        position: absolute;
        border-radius: 8px;
        z-index: 10;
        padding-left: 0;
        top: 48px;
        width: 100%;
        height: auto;
        overflow: hidden;
        background-color: $white;
        box-shadow: 2px 8px 24px -8px rgba(44, 54, 109, 0.2);
        li {
          list-style: none;
          display: flex;
          gap: 16px;
          align-items: center;
          padding: 8px 16px;
          &:hover {
            background-color: $bg-alt;
            cursor: pointer;
          }
          img {
            max-height: 48px;
          }
          p {
            margin: 0;
            font-size: 16px;
            line-height: 1.5;
            color: $text-color;
            font-weight: 500;
          }
          small {
            color: $text-color-light;
          }
        }
      }
    }
  }

  @media screen and (max-width: 540px) {
    .inputContainer {
      flex-direction: column;

      button {
        width: fit-content;
      }
    }
  }
}

.listOfMoviesContainer {
  background-color: $bg-alt;
}
.listOfMovies {
  padding: 32px 0 48px;
  display: flex;
  flex-wrap: wrap;
  gap: 64px;
}
.moviePlaceholder {
  width: 320px;
  margin: 32px auto;
  transition: all 0.2s ease-in;
}

.movieShow {
  background: $bg-color;
  border-radius: 8px;
  box-shadow: 0 4px 8px -2px rgba(44, 54, 109, 0.2);
  width: 252px;
  height: fit-content;
  transition: all 0.2s $bouncy;

  &:hover {
    background-color: $white;
    transform: scale(1.02);
    box-shadow: 2px 8px 24px -8px rgba(44, 54, 109, 0.2);
    .posterContainer::after {
      backdrop-filter: blur(2px) opacity(1);
      background-color: rgba(255, 255, 255, 0.32);
    }
    .actions.close {
      transform: translateX(-8px);
      background-color: $main;
      box-shadow: -2px 4px 8px -2px rgba(241, 35, 35, 0.22);
    }
    .bin {
      transform: translateY(1px) rotate(-6deg);
    }
    .bin-lid {
      transform: rotate(12deg);
      margin-left: 2px;
    }
  }

  .info-flex {
    display: flex;
    gap: 40px;
    img {
      margin-top: 8px;
      max-width: 24px;
    }
  }
  .posterContainer {
    position: relative;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    user-select: none;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0);
      backdrop-filter: blur(0px) opacity(0);
      transition: all 0.25s $bouncy;
    }
    img {
      width: 100%;
      position: relative;
    }
    .actions {
      position: absolute;
      width: 70px;
      height: 64px;
      border-radius: 6px 0 0 6px;
      background-color: rgba(255, 255, 255, 0.32);
      box-shadow: -1px 2px 4px -2px rgba(30, 30, 30, 0.42);
      right: -12px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2px;
      z-index: 1;
      cursor: pointer;
      transform: translateX(46px);
      transition: width 0.2s $bouncy, transform 0.3s $bouncy 0.1s,
        opacity 0.1s ease-in 0.2s, background-color 0.2s ease-in 0.1s,
        box-shadow 0.2s ease-in 0.2s;
      &:hover {
        box-shadow: -1px 2px 4px -2px rgba(136, 22, 22, 0.42);
        background-color: $main-dark;
      }
      .bin {
        width: 20px;
        height: auto;
        transition: transform 0.4s $extraBouncy 0.25s;
      }
      .bin-lid {
        width: 26px;
        height: auto;
        transform-origin: right bottom;
        transition: transform 0.4s $extraBouncy 0.25s;
      }
    }
    .close {
      top: 64px;
    }
  }
  .caption {
    padding: 0 12px 8px;
    position: relative;
    small {
      font-weight: 700;
      color: $accent-dark;
    }
    h3 {
      margin: 2px 0 4px;
      font-size: 20px;
    }
    p {
      margin: 0px auto 8px;
      font-size: 14px;
      font-weight: 500;
      &.rating {
        position: absolute;
        top: -42px;
        right: -26px;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        text-align: center;
        line-height: 2.2;
        color: $bg-color;
        font-size: 26px;
        font-weight: 700;
        box-shadow: -2px 2px 8px -4px rgba(53, 54, 54, 0.2);
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .movieShow {
    width: 100%;
  }
  .moviePlaceholder {
    width: 100%;
    margin: 0 auto;
  }
}
