$text-color: #4d4d4d;
$main-dark: hsl(0, 100, 24);
$main: hsl(356, 83, 41);
$ternary: hsl(40, 91, 91);
$bg-color: hsl(0, 0, 98);
$bg-alt: hsl(0, 11%, 93%);
$accent-dark: hsl(201, 100, 14);
$accent: hsl(203, 39, 57);

html,
body {
  padding: 0;
  margin: 0;
}

* {
  font-family: "poppins", Calibri, sans-serif;
  color: $text-color;
}

.appContainer {
  background-color: $bg-color;

  .searchContainer {
    padding: 16px 64px 48px;
    background: $bg-alt;
    width: 100%;
    max-width: 1200px;
  }

  h1 {
    color: $main;
  }

  input {
    width: 100%;
    border-radius: 4px;
    padding: 8px;
    outline: 1px solid transparent;
    border: 1px solid transparent;
    &:focus {
      border: 1px solid $accent;
      outline: 1px solid $accent;
    }
  }
}

.listOfMovies {
  padding: 32px 64px 48px;
  display: flex;
  flex-wrap: wrap;
  background-color: $accent-dark;
  gap: 32px;
  max-width: 1200px;
}

.movieShow {
  background: $bg-alt;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  overflow: hidden;
  img {
    width: 100%;
    height: 444px;
    overflow: hidden;
  }
  .caption {
    padding: 0 16px 8px;
    small {
      font-weight: 600;
    }
    h3 {
      margin-top: 8px;
    }
    p {
      margin: 4px auto;
      &.rating {
        color: $main;
        font-size: 32px;
        font-weight: 700;
      }
    }
  }
}
